@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s ease;
}

:root{
    --primar-color:#2D033B;
    --secondary-color:#C147E9;
    --rare-color:#E5B8F4;
}

.hide{
    display: none;
}

body{
    background-color: var(--primar-color);
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.dflex-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand i,.brand a{
    color: var(--secondary-color);
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.brand i{
    margin-right: 15px;
    font-size: 2em;
}

header button{
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    height: 40px;
    align-items: center;
    cursor: pointer;
}
header button svg{
    width: 1.5em;
    margin-right: 10px;
}
.char{
    height: 100px;
    /* border: 2px solid red; */
}

.nav nav{
    background-color: var(--rare-color);
    width: 100px;
    border-radius: 15px;
}
.nav nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav ul li{
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
nav ul li:hover{
    background-color: var(--secondary-color);
}
nav ul li svg{
    width: 2em;
}
nav ul li svg:hover{
  stroke: #ffff;
}
.active{
    background-color: var(--primar-color);
}
.hole{
    display: flex;
}
.hole .m-card {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.m-card .img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.m-card .img img{
    width: 50%;

}

.m-card{
    color: var(--primar-color);
}
.s-media{
    display: flex;
    align-items: center;
}
.s-media i{
    margin: 10px;
    font-size: 2em;


}

.sea{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    display: flex;
}

.btn-c{
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 6px;
    padding: 11px;
    margin-bottom: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
}
.search-bar .number{
    border-radius: 50%;
    padding: 7px;
    background-color: #fff;
    color: var(--primar-color);
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search,.search form{
    display: flex;
    width: 100%;
}
.search-bar input{
    width: 100%;
    background-color: var(--primar-color);
    padding: 10px;
    border: 2px solid var(--rare-color);
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.search button{
    background-color: var(--secondary-color);
    border: none;
    display: block;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    width: 20%;
    margin-left: 10px;
}
.search-bar input:focus{
    border: 2px solid var(--secondary-color);
}




.real-contacts{
    display: flex;
    flex-direction: column;
    
}
.real-contacts .c-sec{
    display: flex;
    background-color: var(--rare-color);
    padding: 13px;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.real-contacts .c-sec .head{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.real-contacts .c-sec .back{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5px;
    border: 2px solid var(--secondary-color);
    color: var(--primar-color);    
    position: absolute;
    transform: translateX(200px) translateY(30px);
    display: none;
}
.real-contacts .c-sec svg{
    width: 2em;
}
.real-contacts .c-sec .name,.real-contacts .c-sec .number{
    margin: 5px 0;
}
.real-contacts .c-sec .name,.real-contacts .c-sec .number,.edit,.delete{
    display: flex;
    align-items: center;

}
.real-contacts i{
    margin: 0 15px;
    cursor: pointer;
}
.edit,
.delete{
    width: 100%;
    border-radius: 10px;
    padding: 2px;
}
.edit:hover,.delete:hover{
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.1);
}




@media(min-width:1140px){
    .m-card .img img{
        width: 20%;
    }
   .hole .m-card{
        width: 60%;
        margin-left: 25px;
    }    
    
}
@media(max-width:640px){
    .brand{
        font-size: 0.7em;
        padding: 10px;
    }
    .nav nav{
        display: flex;
        width: 100%;
    }
    .nav{
        width: 99%;
        margin-bottom: 30px;
        margin-top: 12px;
    }
    .nav nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .nav nav ul li{
        margin: 0;
        margin-right: 20px;
    }
    .hole{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .m-card{
        font-size: 12px;
    }
    .contacts .sea{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}



